body{
font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Lovbeing{
    color: chocolate;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 166, 0, 0.37), red);
    color: white;
     padding: 10px 30px;
    font-weight: 700;
    border-radius: 20px;
}
    
    .flexible-cnt{
        display: flex;
        margin: 100px;

    }
    .h-w{
        width: 100%;
        padding: 5%;
    
    }
   .h-w img{
       width: 100%;
   }
   h3{
       text-align: center;
   }
   .About-cs{
       background-image: url(images/Frame\ 58.jpg);
       display: flex;
       
   }
   .My-recipies{
       text-align: center;
   }
   .healthy{
        width: 100%;
        padding: 5%;
        box-shadow: 10px 15px 30px tomato;
        margin-left: 5%;
        margin-left: 5%;
        border-radius: 10px;

   }
   .healthy img{
       width: 100%;
   }
   .Footer{
       background-color: moccasin;
       text-align: center;
       border-radius: 10px;
       border: brown solid 10px;
   }
    